@charset "UTF-8";

/* 更新履歴
================================================== */
/*20150604　ひと手間キャンペーン#hitotema追加*/
/*20151027　フッターメニュー　スマホ位置調整の為追記footer nav*/
/*20160204　attraction用中見出し位置調整の為変更　.page-contents .middle-title*/
/*201602　　ヘッダーナビに採用追加の為間隔変更*/
/*20160629　言語切替ナビ追加・IRサイト追加*/


/* #Reset & Basics
================================================== */
*{
    margin: 0;
    padding: 0;
}

/* clearfix
================================================== */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clear ,
.clearfix:after { clear: both; }
/*.clearfix { zoom: 1; }ie7対策（バリデーション対策のためJS出力）*/


/* #Base styles
================================================== */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
    font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
    font-size: 13px; 
    -webkit-font-smoothing: antialiased;
		color: #000;
		background: #fffdf6;
		position: relative;
}


a{
    color : #000 ;
}

a.link{
    color:#0066FF;}
	
a.link:hover{
    color:#0066FF;
	text-decoration:none;}

ul li{
	list-style: none;
}
ol{
    margin-left:20px;
}
.mb15{margin-bottom:15px;}
.mb30{margin-bottom:30px;}

img {border: none;}

/* width
================================================== */
.container1,.container2 {
    position : relative ;
    margin: 0 auto;    
    max-width : 960px ;
/*    padding: 0 20px;
*/}

/* header
================================================== */
header{
	background: #fffdf6;
  padding-top : 3px ;
	margin: 0 auto; 
  width: 100%;
  height: 80px;
}
header > .container2{
/*	height: 80px;*/
	padding:0 20px;
	z-index: 2;
}

body.second header{
	height: 130px;
}

header #logo{
	position: absolute;
/*	left: 20px;
	top: 13px;*/
}

header #logo img{
	width: 331px;
	height: auto;
}

header .sp{
    display : none ;
}


/*201606ir追加*/
#ir{
	position: absolute;
	right: 5px;
	top: 10px;
}
#ir li a{
	text-decoration:none;
}
#ir li {
  font-size: 15px;
	margin-left: 0px;
	margin-left: 24px \0/IE9;
	float: left;
	padding-left: 25px;
	background:url(../images/next2.png) no-repeat 15px 6px;
	-webkit-background-size: 14px;
	background-size: 14px;
}

.global{
	font-family:"ヒラギノ明朝 ProN W3","HiraMinProN-W3",'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  font-weight: normal;
	position: absolute;
	right: 20px;
	top: 40px; /*20160629言語切替17pxから変更*/
}

.global ul.container1 li{ 
   font-size: 13px;
	padding-left: 10px;
	margin-left: 10px;
	margin-bottom: 16px;
	float: left;
}
.global ul.container1 li:before{
	content: '・';
	margin-right: 5px;
}
.global ul.container1 li a{
	text-decoration:none;
}

.global ul.container2 li{ 
	background:url(../images_r/circle_arrow01.png) no-repeat 10px 6px;
	-webkit-background-size: 14px;
	background-size: 14px;
    font-size: 16px;
	padding-left: 28px;
	margin-left: 5px;	/*201502採用 25→20、201606IR 20→5*/
	margin-left: 24px \0/IE9;
	float: left;
}
html.ie9 .global ul.container2 li{
	background-position:10px 3px;
}
html.ie8 .global ul.container2 li{
	background-position:5px 10px;
    height:1em;
}
/*html.ie9 #lang ul.container2 li{
	background-position:10px 3px;
}
html.ie8 #lang ul.container2 li{
	background-position:5px 10px;
    height:1em;
}
*/
.global-sp{
	background: #edd9af;
	font-size: 15px;
	font-weight: bold;
	width: 150px;
	min-height: 1000px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	right: -145px;
	top: 0;
	z-index: 9999;
	display: none;
}

.global-sp li a{
	background: url(../images_r/hd_menu_arrow.png) no-repeat 15px 18px;
	-webkit-background-size: 5px auto;
	background-size: 5px auto;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	width: 150px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 12px 0 12px 25px;
	border-bottom: 1px solid #fff;
	display: block;
}

/* #wrapper
================================================== */
#wrapper{
	margin: 0 auto; 
	max-width : 100% ;
	overflow: hidden;
    /*margin-bottom : 40px ;*/
}

/*-----PAN nav-----*/

header ul.pan{
	float: left;
	font-size:11px;
	position: absolute;
	top: 100px;
	line-height: 1;
}
header ul.pan li {
	float: left;
  margin-right :10px;
}
header ul.pan li:last-child {
	text-decoration: underline;
}
header ul.pan li a {
    margin-right : 10px;
    text-decoration: none;
}

/* #page-visual
================================================== */
/* ページ上部見出し */
#page-visual {
	font-family:"ヒラギノ明朝 ProN W6","HiraMinProN-W6",'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	background: #f9efdd;
	width: 100%;
	height: 250px;
}

#page-visual .container2 {
	background: url(../template/images/page_vsl_bg.jpg) no-repeat 320px top;
}

#page-visual .text-area {
	background: #fff;
	width: 248px;
	height: 250px;
	padding: 0 37px;
}

#page-visual .text-area h2 {
	font-size: 30px;
	line-height: 1;
	padding: 100px 0 16px;
/*	padding: 40px 0 16px;
	border-bottom: 1px solid #dfdacd;*/
}

/*20150604追加　ひと手間キャンペーン*/
#page-visual .text-area #hitotema {
	font-size: 20px;
	line-height: 1;
	padding: 120px 0 16px;
}

#page-visual .text-area #pr {
	font-size: 20px;
	line-height: 1;
	padding: 100px 0 16px;
}
#page-visual .text-area .lead {
	font-size: 12px;
	line-height: 24px;
	white-space: nowrap;
	padding: 8px 0 0;
}

/* #page-template
================================================== */
.page-contents{
	font-family:"ヒラギノ明朝 ProN W3","HiraMinProN-W3",'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	padding: 0 0 40px 0;
}

/* ページタイトル */
.page-contents .page-title{
	font-family:"ヒラギノ明朝 ProN W6","HiraMinProN-W6",'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	background: url(../template/images/title_bg.jpg) no-repeat right top;
	width: 100%;
	height: 107px;
	border: 1px solid #e7e2d6;
}

.page-contents .page-title *{
	font-size: 35px;
	font-weight: normal;
	line-height: 1;
	padding: 37px 0 0 35px;
}

/* 通常テキストブロック */
.page-contents .text01{
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	font-size: 14px;
	line-height: 23px;
	padding: 14px 0 0;
}

/* 大見出し */
.page-contents .large-title{
	background: #f9efdd;
	font-size: 28px;
	font-weight: normal;
	line-height: 24px;
	padding: 12px 0 12px 15px;
	margin: 50px 0 0;
	border: 1px dotted #dfdacd;
}

.page-contents .middle-title{
	font-size: 24px;
	font-weight: normal;
	line-height: 24px;
	padding: 0 0 5px;
	margin: 20px 0 0;	/*20160204位置調整の為変更　margin: 25px 0 0;*/
	border-bottom: 1px solid #d3cbb8;
}

/* 小見出し */
.page-contents .small-title{
	font-size: 20px;
	font-weight: normal;
	line-height: 24px;
	margin: 50px 0 0;
	vertical-align: middle;
}

.page-contents .small-title:before{
	content: '';
	background: #f0af32;
	width: 8px;
	height: 30px;
	margin-right: 10px;
	border-radius: 2px;
	display: inline-block;
	vertical-align: middle;
}

/* キャッチコピー等 */
.page-contents .large-text{
	font-size: 26px;
	line-height: 34px;
	padding: 40px 0;
}


/* 画像 + テキスト */
.page-contents .image-set{
	overflow: hidden;
	padding: 30px 0;
	border-bottom: 1px dashed #d3cbb8;
}

.page-contents .image-set.no{
	border-bottom: 0px none;
}

.page-contents .image-set .image{
	width: 320px;
	line-height: 0;
}

.page-contents .image-set .text{
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	font-size: 14px;
	line-height: 23px;
	width: 550px;
}

/* 画像 + テキスト 左画像レイアウト */
.page-contents .image-set.lr .image{
	float: left;
	margin-right: 15px;
}

.page-contents .image-set.lr .text{
	float: right;
}

/* 画像 + テキスト 右画像レイアウト */
.page-contents .image-set.rl .image{
	float: right;
	margin-left: 15px;
}

.page-contents .image-set.rl .text{
	float: left;
	width: 550px;
}

/* #items-box
================================================== */
/* 商品一覧 */
.items-box{
	overflow: hidden;
	padding: 30px 0;
}

.items-box .item{
	float: left;
	width: 285px;
	margin-right: 15px;
	padding: 0 0 80px;
	position: relative;
}

.items-box .item:nth-child(3n){
	margin-right: 0;
}

.items-box .item-name{
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	margin-bottom: 10px;
}

.items-box .item-ph{
	text-align: center;
	width: 168px;
	margin: 0 auto;
}

.items-box .item-price{
	font-size: 18px;
	text-align: right;
	margin: -20px 8px 0 0;
}

.items-box .item-desc{
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	text-align: left;
	padding: 12px 10px 0;
	border-top: 1px solid #d3cbb8;
}

/* チケットアイコン */
.items-box .item.ticket:before{
	content: '';
	background: url(../template/images/ico_ticket01.png) no-repeat 0 0;
	-webkit-background-size: 52px 58px;
	background-size: 52px 58px;
	width: 52px;
	height: 58px;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
}

/* オプションアイコン */
.items-box .item.option01:after{
	content: '';
	background: url(../template/images/ico_option01.png) no-repeat 0 0;
	-webkit-background-size: 66px;
	background-size: 66px;
	width: 66px;
	height: 66px;
	display: block;
	position: absolute;
	right: 0;
	top: 30px;
}

/* オプションアイコン */
.items-box .item.option02:after{
	content: '';
	background: url(../template/images/ico_option02.png) no-repeat 0 0;
	-webkit-background-size: 66px;
	background-size: 66px;
	width: 66px;
	height: 66px;
	display: block;
	position: absolute;
	right: 0;
	top: 30px;
}

/* 画像なしの場合 */
.items-box .no-ph .item-name{
	text-align: left;
	padding: 0 0 15px 10px;
	margin-bottom: 0;
}

.items-box .no-ph .item-price{
	margin-top: -42px;
	padding-bottom: 5px;
}

.items-box .no-ph.ticket:before{
	background: url(../template/images/ico_ticket02.png) no-repeat 0 0;
	-webkit-background-size: 57px 52px;
	background-size: 57px 52px;
	width: 57px;
	height: 52px;
	left: auto;
	right: 0;
	top: 26px;
}

.items-box .no-ph.option01:after,
.items-box .no-ph.option02:after{
	right: 0;
	top: 26px;
}


/* footer
================================================== */
footer{
	background: #f9efdd;
	border-top: 1px solid #dfdacd;
	border-bottom: 1px solid #dfdacd;
	padding: 30px 0 30px;
}

footer .logo {
	float : left;
	padding-left: 110px; 	/*201602英語サイト左余白縮小padding-left: 80px;*/

}

footer nav{
	float: left;
	padding-left: 54px; /*201602英語サイト左余白縮小padding-left:25px;*/
}

footer .column {
	font-size: 11px;
	float : left;
	height: 95px;
	padding: 0 26px 0 20px;
	border-right: 1px solid #c8c1b0;
}

footer .column:last-child {
	border-right: 0px none;
	padding-right:0px; /*201606追加*/
}

footer .column li{
	background:url(../images_r/ft_menu_arrow.png) no-repeat 0 9px;
	-webkit-background-size: 3px 5px;
	background-size: 3px 5px;
	padding: 0 0 0 10px;
	margin-bottom: 3px;
}
html.ie9 footer .column li{
	background-position:0 4px;
}
html.ie8 footer .column li{
	background-position:0 3px;
	height:1.0em;
	margin-bottom:8px;
}
footer .column a {
	color: inherit;
	text-decoration: none;
}

/*-----SNS nav-----*/

ul.social{
	text-align: center;
	padding: 13px 0 15px;
}
ul.social li {
	display: inline-block;
    margin-left : 10px;
}

/*==================================================================================

media queries

==================================================================================*/

/* W < 960px
================================================== */
@media only screen and (max-width: 960px) {
/*201606英語サイト追加*/
.global {
    right: 0px;
}
}
/* W < 800
================================================== */
@media only screen and (max-width: 800px) {

/*201506IR追加*/
.global ul.container2 li{ 
	background-size: 13px;
  font-size: 15px;
/*	margin-left: 0px;*/
	padding-left:25px;
}
/*201506IR追加*/
#ir li {
    font-size: 14px;
    padding-left: 20px;
		background:url(../images/next2.png) no-repeat 13px 6px;
}
}
/* 700 < W < 900
================================================== */
@media only screen and (min-width: 700px) and (max-width: 939px) {

/* header
================================================== */
header #logo img{width: 260px; height: auto;}

/* #page-template
================================================== */

.page-contents .image-set .image{
	width: 36%;
}

.page-contents .image-set .text{
	width: 61%;
}

.page-contents .image-set.lr .image{
	margin-right: 2%;
}


.page-contents .image-set.rl .image{
	margin-left: 2%;
}

.page-contents .image-set.rl .text{
	width: 61%;
}

/* #items-box
================================================== */
.items-box .item{
	width: 32%;
	margin-right: 1%;
	padding: 0 0 40px;
}

.items-box .item-ph{
	width: 60%;
}


.items-box .no-ph .item-desc{
	padding-right: 30%;
}

.items-box .no-ph .item-desc br{
	display: none;
}


/* footer
================================================== */
footer .container2{
	text-align: center;
}

footer .logo {
	float: none;
	display: inline-block;
	padding-left: 0px;
	width: 30%;
	vertical-align: top;
}

footer .logo img {
	width: 100%;
	height: auto;
}

footer nav{
	float: none;
	display: inline-block;
	padding-left: 54px;
}

footer .column {
	text-align: left;
}
}
/* W < 699px
================================================== */
@media only screen and (max-width: 699px) {

/* header
================================================== */
header{
  padding : 0;
	margin: 0 auto; 
  width: 100%;
  height: 49px;
}

body.second header{
	height: 49px;
}

header .sp{
    position : absolute ; 
    top : 12px;
    right : 17px;
    display : block;
    background : url(../images_r/hd_menu_btn.png) 0 no-repeat;
    -webkit-background-size: 25px 26px;
    background-size: 25px 26px;
    width : 25px ;
    height : 26px ;
    cursor : pointer; 
    z-index : 9999999 ;
}

header .global{
    display : none ;
}
/*201606ir追加*/
header #ir{
    display : none ;
}
header #logo{
	left: 20px;
	top: 3px;
	line-height: 0;
}

header #logo img{
	width: 163px;
	height: auto;
}

/*-----PAN nav-----*/

header ul.pan{
	display: none;
}

footer{
	padding: 10px 0;
}

footer .logo {
	text-align: center;
	float : none;
	padding-left: 0;
	margin: 0 auto 6px;
}

footer .logo img {
	width: 118px;
	height: auto;
}

footer nav{
	float: none;
	margin: 0 auto;
	padding-left: 0px;
	display: table;
}

footer .column {
	font-weight: bold;
	float : none;
	display: table-cell;
	height: 95px;
	padding: 0 10px 0 0;
	border-right: none;
	width:85px; /*201606追加*/
}
/*201606追加*/
footer .column:last-child {
	width:auto;
}

footer .column li{
	background:url(../images_r/ft_menu_arrow.png) no-repeat 0 7px;
	-webkit-background-size: 3px 5px;
	background-size: 3px 5px;
	padding: 0 0 0 6px;
	margin-bottom: 6px;
}


/* #page-visual
================================================== */
#page-visual {
	height: auto;
}

#page-visual .text-area {
	width: auto;
	height: auto;
	padding: 0;
}

#page-visual .text-area br {
	display: none;
}

#page-visual .text-area h2 {
	background: #fff;
	font-size: 21px;
	padding: 15px 20px;
	border-bottom: none;
	position: absolute;
	top: 85px;
	left: 0;
}
/*20150604追加　ひと手間キャンペーン*/
#page-visual .text-area #hitotema {
	background: #fff;
	font-size: 15px;
	padding: 15px 20px;
	border-bottom: none;
	position: absolute;
	top: 85px;
	left: 0;
}
#page-visual .text-area .lead {
	font-size: 9px;
	line-height: 15px;
	white-space: normal;
	padding: 15px 20px 5px;
}

/* #page-template
================================================== */
.page-contents{
	padding: 0 0 40px;
}

.page-contents .page-title{
	height: 55px;
}

.page-contents .page-title *{
	font-size: 18px;
	padding: 20px 0 0 10px;
}

.page-contents .text01{
	font-size: 12px;
	line-height: 18px;
	padding: 5px 0 0;
}

.page-contents .large-title{
	font-size: 15px;
	padding: 7px 0 7px 7px;
	margin: 25px 0 0;
}

.page-contents .middle-title{
	font-size: 15px;
	line-height: 12px;
	padding: 0 0 5px;
	margin: 20px 0 0;	/*20160204位置調整のため変更　margin: 25px 0 0;*/
}

.page-contents .small-title{
	font-size: 15px;
	margin: 25px 0 0;
	vertical-align: middle;
}

.page-contents .small-title:before{
	width: 5px;
	height: 20px;
	margin-right: 4px;
}

.page-contents .large-text{
	font-size: 15px;
	line-height: 20px;
	padding: 25px 0;
}

.page-contents .image-set{
	width: 100%;
	padding: 10px 0;
}

.page-contents .image-set .image{
	text-align: center;
	float: none !important;
	width: auto;
	margin: 0 25px 10px;
}

.page-contents .image-set .text{
	float: none !important;
	font-size: 12px;
	line-height: 18px;
	width: 100%;
}

.page-contents .image-set.lr .image{
	margin-right: 25px;
}

.page-contents .image-set.rl .image{
	margin-left: 25px;
}

/* #items-box
================================================== */
.items-box{
	padding: 30px 0 0;
}

.items-box .item{
	width: 46%;
	margin-right: 8%;
	padding: 0 0 25px;
}

.items-box .item:nth-child(3n){
	margin-right: 8%;
}
.items-box .item:nth-child(even){
	margin-right: 0;
}

.items-box .item-name{
	font-size: 15px;
	font-weight: bold;
	text-align: center;
}

.items-box .item-ph{
	width: 55%;
}

.items-box .item-price{
	font-size: 11px;
	margin: -20px 0 0 0;
}

.items-box .item-desc{
	font-size: 9px;
	line-height: 12px;
	text-align: left;
	padding: 6px 0px 0;
}
.items-box .item-desc br{
	display: none;
}

.items-box .item.ticket:before{
	content: '';
	background: url(../template/images/ico_ticket01.png) no-repeat 0 0;
	-webkit-background-size: 26px 29px;
	background-size: 26px 29px;
	width: 26px;
	height: 29px;
	display: block;
	position: absolute;
	left: 0;
	top: 20px;
}

.items-box .item.option01:after{
	content: '';
	background: url(../template/images/ico_option01.png) no-repeat 0 0;
	-webkit-background-size: 33px;
	background-size: 33px;
	width: 33px;
	height: 33px;
	display: block;
	position: absolute;
	right: 0;
	top: 20px;
}

.items-box .item.option02:after{
	content: '';
	background: url(../template/images/ico_option02.png) no-repeat 0 0;
	-webkit-background-size: 33px;
	background-size: 33px;
	width: 33px;
	height: 33px;
	display: block;
	position: absolute;
	right: 0;
	top: 20px;
}

.items-box .no-ph .item-name{
	text-align: left;
	line-height: 1;
	padding: 0 0 0;
	margin-bottom: 5px;
}

.items-box .no-ph .item-price{
	text-align: left;
	line-height: 1;
	margin-top: 0;
	padding-bottom: 5px;
}

.items-box .no-ph .item-desc{
	padding-right: 34px;
}

.items-box .no-ph.ticket:before{
	background: url(../template/images/ico_ticket02.png) no-repeat 0 0;
	-webkit-background-size: 26px auto;
	background-size: 26px auto;
	width: 26px;
	height: 29px;
	left: auto;
	right: 0;
	top: 45px;
}

.items-box .no-ph.option01:after,
.items-box .no-ph.option02:after{
	right: 0;
	top: 45px;
}



}
/* 400 < W < 699
================================================== */
@media only screen and (min-width: 400px) and  (max-width: 699px) {
#page-visual .container2 {
	background: url(../template/images/page_vsl_bg.jpg) no-repeat right -20px;
	-webkit-background-size: 100%;
	background-size: 100% auto;
	padding: 145px 0 0;
}
}
/*  W < 350
================================================== */
@media only screen and  (max-width: 350px) {
footer .column {
	width:75px; /*201606追加*/
}
}
/*  W < 400
================================================== */
@media only screen and  (max-width: 400px) {

#page-visual .container2 {
	background: url(../template/images/page_vsl_bg.jpg) no-repeat right 0px;
	-webkit-background-size: 100%;
	background-size: 100% auto;
	padding: 145px 0 0;
}

.page-contents .page-title{
	background: url(../template/images/title_bg.jpg) no-repeat 100px top;
	-webkit-background-size: auto 55px;
	background-size: auto 55px;
	margin-bottom:10px;
}

.page-contents .large-text br{
	display: none;
}
/*20160629追加*/
footer .container2 {
	padding: 0 20px;
}

}
@media print {
body {
	-webkit-print-color-adjust: exact;
}
header .global .container,
header .global .container2{
	display:inline-block !important;
	text-align:right;
	width:500px !important;
}
.container,
.container2{
    display : block !important;
    width: 960px !important;
}
#totop{
    display : none !important;
}
.bx-wrapper img {
	max-width: 100%;
	display: block;
}

}
