@charset "UTF-8";

/* media screen-------------------------------------------------------------------------------------*/

/* 更新履歴
20151120　コメカバナー追加　#komeca
20160121　バナー外リンクを修正.top-information .news li a　
20160121　twitterバナー追加 ul#bnr,ul#bnr li
20160202　トップの背景色バグを修正　.top-contents .main-lead
20160208　トップのバナー位置を調整
20160216　フランチャイズショーバナー位置調整の為追加20160311削除予定
20160420　熊本地震　文面追加
20170131　加盟相談追加.main-lead　.top-menu li　.top-menu
20180502　リンクバナーのtext-align:centerを解除
*/

/* header
================================================== */
header{
}

/* slider
================================================== */
.slider{
	width: 100%;
	max-width: 1510px;
	margin: 0px auto 0;
	overflow: hidden;
	position: relative;
	z-index: 1;
}

.slider .mask{
	width: 100%;
	max-width: 1510px;
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -755px;
}

.slider-inner{
	width: 2700px;
	position: relative;
	left: 50%;
	margin-left: -1350px;
}

#slide{
	visibility: hidden;
	height: 490px;
}


/* top-contents
================================================== */
.top-contents {
	margin: 30px auto 0; 
	position: relative;
	z-index: 1;
	width: 100%;
	/*height: 246px;*/
	background: #fff;
	border-top: 1px solid #dfdacd;
	border-bottom: 1px solid #dfdacd;
}

.top-contents:before {
	content: '';
	position: absolute;
	z-index: 0;
	width: 50%;
	height: 260px;
	background: #fffdf6;
}



.top-contents .container2{
	/*overflow: hidden;*/
}

.top-contents .top-menu {
	float: left;
	display: table;
	overflow: hidden;
	border-right: 1px solid #dfdacd;
}

.top-contents .top-menu li{
	float: left;
	vertical-align: top;
}

.top-contents .top-menu li a{
	background: #fffdf6 url(../images_r/nav_arrow.png) no-repeat center top;
	-webkit-background-size: 11px 8px;
	background-size: 11px 8px;
	text-align: center;
	line-height: 0;
	display: block;
	width: 100px;
	/*height: 246px;*/
	padding: 14px 0 10px;
	border-left: 1px solid #dfdacd;
}

.top-contents .top-menu li img {
	width: 75px;
	height: auto;
}

.top-contents .main-lead {
	background:#FFF;
	float: left;
	width: 305px;
	height: auto;
	padding: 15px 0 25px 1.5%; 	/*20160202トップの背景色バグを修正padding: 15px 0 0 6%;*/
	/*20170201FC追加の為変更*/
}
.top-contents .main-lead img{
	text-align:center;
	margin:0 auto;
}
.top-contents .main-image {
	position: absolute;
	right: -40px;
	top: -20px;
	width: 265px;
}

/* top-information
================================================== */
.top-information {
	margin: 0 auto;
	padding: 30px 0 55px;
	position: relative;
	width: 100%;
	overflow: hidden;
}

.top-information h3{
	font-family:"ヒラギノ明朝 ProN W6","HiraMinProN-W6",'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	font-size: 14px;
	margin: 0 0 8px;
	min-height:24px;
	background: url(../images_r/icon_cup.png) no-repeat 0 0;
	padding:0 0 0 30px;
}
.top-information h3:before{
/*	content: '■';
*/	margin-right: 5px;
}

.top-information .btn-more{
	position: absolute;
	right: 0;
	top: 0;
}

.top-information .btn-more a{
	font-size: 10px;
	text-align: center;
	text-decoration: none;
	/*background: #fff url(../images_r/ft_menu_arrow.png) no-repeat 7px 8px;*/
	background: #fff;
	width: 145px;
	padding: 2px 0;
	border: 1px solid #dfdacd;
	border-style: dotted;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: table;
}

.top-information .btn-more a:before{
	content: '';
	background: url(../images_r/ft_menu_arrow.png) no-repeat 0 0;
	-webkit-background-size: 3px 5px;
	background-size: 3px 5px;
	width: 3px;
	height: 5px;
	margin-right: 5px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	top: -1px;
}

.top-information .campaign {
	float: left;
	width: 420px;
	position: relative;
}

.top-information .news {
	float: right;
	width: 480px;
	position: relative;
}

.top-information .news ul {
	border-top: 1px solid #dfdacd;
	width: 100%;
	padding: 5px 0 0;
}

.top-information .news li a{
	color: inherit;
	font-size: 11px;
	text-decoration: none;
	line-height: 19px;
/*	display: table;*/
	width: 155px;　/*	width: 100%; 201601バナー外リンクのバグを修正*/
	height: 100%;　/*201601追加　バナー外リンクのバグを修正*/
	display:block; /*201601追加　バナー外リンクのバグを修正*/
	border-bottom: 1px dashed #dfdacd;
}

.top-information .news li:last-child a{
	border-bottom: 0px none;
}

.top-information .news .date {
	display: table-cell;
	width: 90px;
}

.top-information .news .value {
	display: table-cell;
	padding-top: 13px;
	padding-bottom: 10px;
}

.top-information .offer {
	margin-top: 30px;
	line-height: 0; /*20160208トップバナー位置調整の為追加*/
}

/* 20151120コメカ
================================================== */
#komeca{
	line-height: 0; /*20160208トップバナー位置調整の為追加*/
	margin: 10px 0 0 0;　/*20160208トップバナー位置調整の為変更5px */

}


/* #bnr_okagean
================================================== */

.under_bnr{
width:460px;
}
ul#bnr{
border:none;
margin:0 auto 0 2px; /* 201601twitterアイコン追加時変更 margin:0 auto;*/
/*text-align:center;*/
width:100%;
padding-top:10px; /* 20160208トップバナー位置調整の為追加*/
}
ul#bnr li{
display:inline-block;
margin-right:1px;
}

/* 20160216フランチャイズショーバナー位置調整の為追加20160311削除予定*/
ul#bnr li #fc_show{
margin:0px 0px 20px 0px;
}

html.ie8 ul#bnr li{
margin-right:1px;
}
ul#bnr li:last-child{
 margin-right:0 !important;
}
ul#bnr li a{
border:none;
}

/* 20160420　震災文面
================================================== */
#caution{
	width:80%;
	max-width:850px;
	background:#fff;
	margin:20px auto 50px auto;
	padding:20px;
	border:2px solid #f60;
}
#caution h3{
	color:#f60
}
#caution p{
	margin:5px 0 0 0;
}
#caution a{
	color:#f60
}



.mt20{ margin-top:20px;}
.right{ text-align:right;}

.ml10{ margin-left:3px;}

/* media queries-------------------------------------------------------------------------------------*/

/* W < 900
================================================== */
@media only screen and (max-width: 960px) {


.top-contents {
	margin-top: 10px;
}

.top-contents:before {
	display: none;
}

/*201601twitterアイコン追加時追加*/
ul#bnr{
text-align:center;
}


/* slider
================================================== */
.slider{
	width: 100%;
	max-width: 1510px;
	margin: 0px auto 0;
	overflow: hidden;
	position: relative;
	z-index: 1;
}

.slider .mask{
	background: url(../images_r/main_slide_mask_sp.png) no-repeat center 0;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
	width: 100%;
	height: 490px;
	position: absolute;
	top: 0px;
	left: auto;
	margin-left: auto;
}


.slider .mask img{
	display: none;
}

.slider-inner{
	width: 200%;
	position: relative;
	left: 50%;
	margin-left: -100%;
}

.slider .bx-wrapper{
	margin: 0 auto;
}

.slider .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
	position: relative;
	top: auto;
	bottom: auto;
	width: 100%;
	z-index: 2;
	 height: auto; 
}

.slider .bx-wrapper .bx-pager.bx-default-pager a {
	background: #fff;
	text-indent: -9999px;
	display: block;
	width: 7px;
	height: 7px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	border: 1px solid #d6d0bd;
}

}



/* W < 700
================================================== */
@media only screen and (max-width: 700px) {

/* top-contents
================================================== */
.top-contents{
	overflow: hidden;
	margin-bottom: 22px;
	padding-bottom: 15px;
}

.top-contents .container2{
	padding: 0;
}

.top-contents .top-menu {
	float: none;
	display: table;
	width: 100%;
}

.top-contents .top-menu li {
	float: none;
	display: table-cell;
	border-bottom: 1px solid #dfdacd;
	/*width:33%; 20170201FC追加で削除*/
}

.top-contents .top-menu li a {
	width: 100%;
}

.top-contents .top-menu li img {
	/*width: 75px;*/
	width: 60%;
	height: auto;
}

/*.top-contents .main-lead {
	float: left;
	width: 305px;
	height: auto;
	padding: 15px 0 0 15px;
}
*/
.top-contents .main-lead {
	float: none;
	width: 60%;
	height: auto;
	padding: 15px 0 0 2%;
}

.top-contents .main-image {
	right: 2%;
	top: 64%;
	width: 33%;
}

/* top-information
================================================== */
.top-information {
	margin: 0 auto;
	padding: 0 0 20px;
	position: relative;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.top-information h3{
	font-size: 15px;
	margin: 0 0 5px;
	background: #fffdf6 url(../images_r/icon_cup.png) no-repeat 0 50%;
	-webkit-background-size: 12px 12px;
	background-size: 12px 12px;
	padding:0 0 0 15px;
}

.top-information h3:before{
	margin-right: 5px;
}

.top-information .btn-more{
	position: absolute;
	right: 0;
	top: 2px;
}

.top-information .btn-more a{
	font-size: 12px;
	font-weight: bold;
	text-align: right;
	text-decoration: none;
	background: transparent url(../images_r/circle_arrow01.png) no-repeat right 2px;
	-webkit-background-size: 13px;
	background-size: 13px;
	width: auto;
	padding: 0 15px 0 0;
	border: none;
	border-style: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: table;
}

.top-information .btn-more a:before{
	display: none;
}

.top-information .campaign {
	float: none;
	width: 100%;
	padding: 0 0 25px;
	position: relative;
}

.top-information .news {
	float: none;
	width: 100%;
	position: relative;
}

.top-information .news ul {
	border-top: 1px solid #dfdacd;
	width: 100%;
	padding: 0 0 0;
}

.top-information .news li a{
	color: inherit;
	font-size: 12px;
	text-decoration: none;
	line-height: 0px;	/*20160208トップバナー位置調整の為変更18px*/
	display: block;
	width: 100%;
/*	padding: 10px 0; 20160208トップバナー位置調整の為削除*/
	border-bottom: 1px dashed #dfdacd;
	position: relative;
}
.top-information .news li a:after{
	content: '';
	background: transparent url(../images_r/circle_arrow01.png) no-repeat 0;
	-webkit-background-size: 13px;
	background-size: 13px;
	width: 13px;
	height: 13px;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -7px;
}



.top-information .news li:last-child a{
	border-bottom: 1px solid #dfdacd;
}

.top-information .news .date {
	font-size: 9px;
	display: block;
	width: auto;
}

.top-information .news .value {
	display: block;
	width: 90%;
	padding-top: 0;
	padding-bottom: 0;
}

.top-information .offer {
	margin-top: 20px;
	line-height: 0;
}
.container2 {
    padding: 0 20px;
}



ul#bnr{
/*margin-top:10px; 20160208トップバナー位置調整の為削除*/
width:100%;
}
ul#bnr li{
/*display:block; 201601Twitterアイコン追加時削除*/
margin:0;
}
ul#bnr li a:after{
background:none;
}

}



/* 700 < W < 960
================================================== */
@media only screen and (min-width: 700px) and (max-width: 960px) {


/* top-contents
================================================== */
.top-contents {
	width: 100%;
}

.top-contents .container2{
	/*overflow: hidden;*/
}

.top-contents .top-menu {
	/*width: 36%; 20170201FC追加で変更*/
	width: 39%;
}

.top-contents .top-menu li{
	/*width: 33.3%; 20170201FC追加で変更*/
	width: 25%;
}

.top-contents .top-menu li a{
	width: 100%;
}

.top-contents .top-menu li img {
	width: 70%;
}

.top-contents .main-lead {
/*	padding: 15px 0 0 2%; 20170201FC追加で削除*/
/*	width: 35%; 20170201FC追加で変更*/
	width: 32%;

}

.top-contents .main-image {
	right: 2%;
	top: -7%;
	width: 25%;
}
.container2 {
    padding: 0 20px;
}
/*20170201FC追加*/
.top-contents .top-menu li a{
    padding: 25px 0 30px;
}
/* top-information
================================================== */

.top-information .campaign,
.top-information .news {
	width: 48%;
}

}
/* 400 < W < 699
================================================== */
@media only screen and (min-width: 400px) and  (max-width: 699px) {
.container2 {
    padding: 0 20px;
}


}
/*  W < 400
================================================== */
@media only screen and  (max-width: 400px) {
.container2 {
    padding: 0 20px;
}

/*20160420　震災追加*/
#caution{
	margin-bottom:30px;
}

#caution h3{
	font-size:15px;
}


}





